.games-table {
  table-layout: fixed;
  font-size: 20px;
}

.games-table-row {
  overflow: hidden;
  height: 60px;
}

.games-table-row td {
  overflow: hidden;
  white-space:nowrap;
  text-align: center;
}

.chances-column {
  width: 5%;
}

.vs-column {
  width: 15%;
}

.time-column {
  width: 7%;
  color: #a0a0a0;
}

.club-name-column {
  width: 25%;
}

.match-date-date {
  text-align: center;
}

.small-crest {
  height: 40px;
  width: auto;
}
