body {
    background-color: #2d2d2d;
}

.main-navbar {
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
    background-color: #00a72d;
}

.main-navbar a {
    color: #001807;
}

.main-brand {
    font-size: 1.2em;
}

#logout-nav {
    color: #005f1b;
}

.content {
    padding-top: 80px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.title {
    text-align: center;
    padding-bottom: 50px;
    font-weight: bold;
}