{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block css_block %}
  <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block content %}
  <h1 class="title">Log in</h1>
  <div class="container">
    <div class="row justify-content-center">
      <form method="POST" class="basic-form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="{% url 'accounts:reset_pwd' %}" id="reset-password">
              Forgot password?</a>
          </div>
        {% endbuttons %}
      </form>
    </div>
    <p id="signup-info">If you do not have an account yet, please <a class="default-anchor" href=
        "{% url 'accounts:signup' %}">sign up</a>.</p>
    <div class="d-flex justify-content-center google-login">
      <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-info"
         role="button" style="text-transform:none">
        <img width="20px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        Log in with Google
      </a>
    </div>

  </div>
{% endblock %}