{% load chances_filter %}

<h3 class="text-center">{{ date|date:'d.m.Y' }}</h3>
  <table class="table table-hover games-table">
    <tbody>
      {% for game in games %}
        <tr class="games-table-row">
          <td class="chances-column align-middle">
            {% if game.ht_chances %}
              {% if game.ht_chances < 0.2 %}
                {% if game.ht_chances > game.vt_chances %}
                  <span class="vlow-chances winner">
                {% else %}
                  <span class="vlow-chances">
                {% endif %}
              {% elif game.ht_chances >= 0.2 and game.ht_chances < 0.4 %}
                {% if game.ht_chances > game.vt_chances %}
                  <span class="low-chances winner">
                {% else %}
                  <span class="low-chances">
                {% endif %}
              {% elif game.ht_chances >= 0.4 and game.ht_chances < 0.6 %}
                {% if game.ht_chances > game.vt_chances %}
                  <span class="avg-chances winner">
                {% else %}
                  <span class="avg-chances">
                {% endif %}
              {% elif game.ht_chances >= 0.6 and game.ht_chances < 0.8 %}
                {% if game.ht_chances > game.vt_chances %}
                  <span class="big-chances winner">
                {% else %}
                  <span class="big-chances">
                {% endif %}
              {% elif game.ht_chances >= 0.8 %}
                {% if game.ht_chances > game.vt_chances %}
                  <span class="vbig-chances winner">
                {% else %}
                  <span class="vbig-chances">
                {% endif %}
              {% endif %}
            {{ game.ht_chances|round_chances }}
            </span>
            {% else %}
              -
            {% endif %}
          </td>
          <td class="club-name-column align-middle">
            <a href="{% url 'clubs:club_details' slug=game.home_team.slug %}">
              {% if user in game.home_team.fans.all %}
                <div class="fav-club" style="color: #dcb800">
                  {{ game.home_team.name }}
                </div>
              {% else %}
                {{ game.home_team.name }}
              {% endif %}
            </a>
          </td>
          <td class="crest-column align-middle">
            {% if game.home_team.crest %}
              <a href="{% url 'clubs:club_details' slug=game.home_team.slug %}">
                <img class="img-fluid small-crest" src="{{ game.home_team.crest.url }}" alt="NO CREST"/>
              </a>
            {% endif %}
          </td>
          <td class="vs-column align-middle">-</td>
          <td class="crest-column align-middle">
            {% if game.visiting_team.crest %}
              <a href="{% url 'clubs:club_details' slug=game.visiting_team.slug %}">
                <img class="img-fluid small-crest" src="{{ game.visiting_team.crest.url }}" alt="NO CREST"/>
              </a>
            {% endif %}
          </td>
          <td class="club-name-column align-middle">
            <a href="{% url 'clubs:club_details' slug=game.visiting_team.slug %}">
              {% if user in game.visiting_team.fans.all %}
                <div class="fav-club" style="color: #dcb800">
                   {{ game.visiting_team.name }}
                </div>
              {% else %}
                {{ game.visiting_team.name }}
              {% endif %}
            </a>
          </td>
          <td class="chances-column align-middle">
            {% if game.vt_chances %}
              {% if game.vt_chances < 0.2 %}
                {% if game.ht_chances < game.vt_chances %}
                  <span class="vlow-chances winner">
                {% else %}
                  <span class="vlow-chances">
                {% endif %}
              {% elif game.vt_chances >= 0.2 and game.vt_chances < 0.4 %}
                {% if game.ht_chances < game.vt_chances %}
                  <span class="low-chances winner">
                {% else %}
                  <span class="low-chances">
                {% endif %}
              {% elif game.vt_chances >= 0.4 and game.vt_chances < 0.6 %}
                {% if game.ht_chances < game.vt_chances %}
                  <span class="avg-chances winner">
                {% else %}
                  <span class="avg-chances">
                {% endif %}
              {% elif game.vt_chances >= 0.6 and game.vt_chances < 0.8 %}
                {% if game.ht_chances < game.vt_chances %}
                  <span class="big-chances winner">
                {% else %}
                  <span class="big-chances">
                {% endif %}
              {% elif game.vt_chances >= 0.8 %}
                {% if game.ht_chances < game.vt_chances %}
                  <span class="vbig-chances winner">
                {% else %}
                  <span class="vbig-chances">
                {% endif %}
              {% endif %}
            {{ game.vt_chances|round_chances }}
            </span>
            {% else %}
              -
            {% endif %}
          </td>
          <td class="time-column align-middle">{{ game.date|date:'H:i' }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>