{% extends 'games/game_base.html' %}


{% block game_content %}

  <table class="table table-hover table-dark games-table">
    <tbody>
      <tr class="games-table-row">
        <td class="chances-column align-middle">100</td>
        <td class="club-name-column align-middle">FC Barcelona</td>
        <td class="crest-column align-middle">CREST</td>
        <td class="vs-column align-middle">-</td>
        <td class="crest-column align-middle">CREST</td>
        <td class="club-name-column align-middle">Real Madrid</td>
        <td class="chances-column align-middle">40</td>
        <td class="time-column align-middle">16:00</td>
      </tr>
    </tbody>
  </table>

{% endblock %}