{% extends 'games/game_base.html' %}


{% block game_content %}

  {% for date, games in games_gr_by_dat.items %}
    <h3 class="text-center">{{ date|date:'d.m.Y' }}</h3>
    <table class="table table-hover table-dark games-table">
      <tbody>
        {% for game in games %}
          <tr class="games-table-row">
            <td class="chances-column align-middle">60</td>
            <td class="club-name-column align-middle">{{ game.home_team.name }}</td>
            <td class="crest-column align-middle">{{ game.home_team.crest }}</td>
            <td class="vs-column align-middle">-</td>
            <td class="crest-column align-middle">
              {% if game.visiting_team.crest %}
                <img class="img-fluid small-crest" src="{{ game.visiting_team.crest.url }}" alt="NO CREST"/>
              {% endif %}
            </td>
            <td class="club-name-column align-middle">{{ game.visiting_team.name }}</td>
            <td class="chances-column align-middle">40</td>
            <td class="time-column align-middle">{{ game.date|date:'H:i' }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
  {% endfor %}

{% endblock %}