{% extends 'clubs/club_base.html' %}

{% block club_content %}

  <h1 class="text-center">{{ club.name }}</h1>
  <div class="club-info">
    <div class="row">
      <div class="col-md-4">
        <div class="text-center">
          <img class="big-crest" src="{{ club.crest.url }}" alt="NO CREST"><br>
            {% if user in club.fans.all %}
              <a href="{% url 'clubs:delete_club_from_favs' slug=club.slug %}" class="btn btn-lg btn-warning">
                <i class="fas fa-times"></i>
              </a>
            {% else %}
              <a href="{% url 'clubs:add_club_to_favs' slug=club.slug %}" class="btn btn-lg btn-warning">
                <i class="far fa-star"></i>
              </a>
            {% endif %}
        </div>
      </div>

      <div class="col-md-8 club-details">
        Fans: {{ club.fans.count }}
      </div>
    </div>
  </div>

{% endblock %}