#signup-info {
    text-align: center;
}

.default-anchor {
    color: var(--lighter-green);
}

.default-anchor:hover {
    color: var(--lighter-green);
}

.basic-form {
    width: 30%;
}

.centered-info {
    text-align: center;
    padding-top: 100px;
}
