#signup-info {
    text-align: center;
}

.default-anchor {
    color: var(--lighter-green);
}

.default-anchor:hover {
    color: var(--lighter-green);
}

.basic-form {
    width: 30%;
}

.centered-info {
    text-align: center;
    padding-top: 100px;
}

#reset-password {
    display: flex;
    align-items: center;
    color: var(--lighter-green);
}

.google-login {
    padding-top: 100px;
}

.google-login img {
    margin-bottom:3px;
    margin-right:5px;
}

#user-settings {
  padding-top: 70px;
  font-size: 30px;
}

#user-settings-table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#user-settings-table td {
  width: 200px;
}

.user-settings-row {
  height: 100px;
}
